*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{

    background-color: #fff; 
    font-family: 'Roboto',  sans-serif;
}

.nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 2em;
    padding-right: 6em;
    margin-top: 62px;
    gap: 2em;
}



.nav-link ul{

    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}

.nav-link li{
    list-style-type: none;
} 

.nav-link a{
    text-decoration: none;
}

.homebtn a{
  
    color: #6C63FF;
    font-weight: 500;
}

.nav-signIn{

    border: 2px solid #6C63FF;
    padding: 5px;
}

/* hero section */
.hero{

    margin-top: 10em;
    display: flex;
    justify-content: space-around;
     padding-left: 2em;
    padding-right: 1em; 
    max-width: 100%;
}

.hero-Text{

    padding-top: 7em;
}

.hero-Text h1{
        
        font-size: 42px;
        font-weight: 700;
        line-height: 56.25px;
}

.hero-Text p{
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
}

.hero-link a{

    padding: 0.7em;
    text-decoration: none;
    color: #fff;
    background-color: #6C63FF;
}

.hero-icon{

     max-width: 100%; 
}

/* end of hero section */


/* start of section 1 */

#FirstSec{

    padding-top: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;

}

.secOne-img{

    display: flex;
 max-width: 100%; 

}


.Utah-img{
    
    position: relative;
    padding: 0em 3em;
    bottom: 2em;
}

.secOne-txt{
     
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.secOne-txt h2{

    font-size: 36px;
    line-height:49.03px;
}

.secOne-txt p{

    font-size: 18px;
    line-height: 21.09px;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}

.secOne-txt a{

     padding: 0.7em 2em ;
    text-decoration: none;
    color: #fff;
    background-color: #6C63FF;
}

.priceTag-1 {
     
    width: 2em;
    background-color: #6C63FF;
    position: relative;
    right: 1075px;
    bottom: 8em;
}

.priceTag-2{

    width: 2em;
        background-color: #6C63FF;
        position: relative;
        right: 740px;
        bottom: 8em;
}

.utahImg-label {

    position: relative;
    right: 877px;
    top: 200px;
}

.utahLabel{

    position: relative;
    right: 1080px;
    color: #fff;
    top: 140px;
}

.baniffLabel{

    position: relative;
        right: 745px;
        color: #fff;
        top: 140px;
}

.star-icon{

    position: relative;
        right: 1080px;
        color: #fff;
        top: 140px;
}

.arrow{

    position: relative;
        right: 1080px;
        color: #fff;
        top: 160px;
}

.aroowLeft{

    padding-right: 20px;
}

#SecondSec{

    padding: 6em 3em 0em 8em;
}

.secTwo-txt{

    text-align: center;
    font-family: Open Sans;
        font-size: 20px;
        font-weight: 300;
}

.secTwo-txt p{
    font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
}

.secTwo-img{
     padding-top: 5em;
     display: flex;
     justify-content: center; 
     align-items: center;
     gap: 1em;
}


.secTwo-imglist{

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.secTwo-imglist img{
   
    position: relative;
    bottom: 1.5em;
    padding: 16.5px;
}

.secTwo-txtlist{

    overflow-y: scroll;
    font-family: Open Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        
}

.secTwo-txtlist p{
    
    position: relative;
    padding-top: 4em;
    bottom: 3em;
    
}

#Thirdsec{
    
    padding-top: 5em;

}

.secThree-txt{

    text-align: center;
}

.secThree-txt h2{

    font-family: Open Sans;
        font-size: 36px;
        font-weight: 400;
        line-height: 49px;
}


.secThree-txt p{
         
    font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
}

.secThree-img{

    display: flex; 
    align-items: center;
    padding-top: 3em;
    
}

.secThree-img img{

    max-width: 100%;
}

.Beaches-img{

    padding: 0em 2em;
}
 
.Mountain-img{

    padding: 0em 3em;
}

.Adventure-img{

    position: relative;
    bottom: 30px;
}

.secThree-label{

    display: flex;
    justify-content: space-between;
    padding-left: 10em;
}

.Beaches-label{

    position: relative;
    left: 44px;
    top: -30px;
    color: #fff;
}

.Adventure-label{

    position: relative;
    left: 2em;
    top: -4em;
    color: #fff;
}

.secThree-arrow{

    position: relative;
    left: -1em;
    padding: 0em 2em;
}

.Mountain-label{

    position: relative;
    left: 6em;
    top: -2em;
    color: #fff;
}

.reservation-label{

    position: relative;
    top: -3em;
    left: 0.2em;
    color: #fff;
}

.secFour-txt{

    text-align: center;
}


#FourthSec{

    padding-top: 5em;
}
.secFour-txt h2{

    font-family: Open Sans;
        font-size: 36px;
        font-weight: 400;
        line-height: 49px
}

.secFour-txt p{

    font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
    
}

.secFour-img{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secFour-arrow-1{

   padding-right: 9em;
}

.secFour-img h4{
         
    font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
}

.secFour-img p{

    font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
}

#FifthSec{

    padding-top: 5em;

   
}

.secFive-txt{

    font-family: Open Sans;
    
     font-weight: 700;
        line-height: 33px;
        text-align: center; 
        position: relative;
        bottom: 5em;
        color: #fff;
}

.secFive-txt h3{

    font-size: 72px;
    padding-top: 1em;
}

.secFive-txt h5{
      
    font-size: 24px;
}
.form{

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.form p {

    border: 1px solid #fff;
    width: 150px;
    height: 40px;
    padding: 10px 10px;
    text-align: left;
} 

.secFive-container{
    position: relative;
    top: -30em;
} 


.destination{

   display: flex;
   color: #fff;

}

.destination img{
    position: relative;
    left: -2em;
}

.packages{

    display: flex;
    color: #fff;
}

.packages img{

    position: relative;
    left: -2em;
}

.dates{

    display: flex;
   color: #fff;
}

.dates img{

    position: relative;
    left: -2em;
}

.form a {

    padding: 0.7em;
        text-decoration: none;
        color: #fff;
        background-color: #6C63FF;
}

.secFive-img{

    max-width: 100%;
}



.footer-link{

    padding-bottom: 10em;
  
}

.footer-link ul{

    display: flex;
    list-style: none;
    justify-content: space-around; 
    align-items: center;
    
}

.footer-link ul a{

    text-decoration: none;
    color: black;
}

.footer-txt{

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.Ftxt{
     
    display: flex;
    font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
}

.Ftxt h5{

    padding-right: 10px;
}

.menu{

    display: none;
}
 
 .media-2{
    display:  flex;
 }



 @media screen and (max-width: 393px) {

        #header{

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    .nav-link {
            display: none;
        }
    
        .menu {
            display: inline-flex;
            padding-top: 3em;

        }
    
  
    .hero {
           
            margin-top: 4em;
             display: flex; 
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 2em;
            padding-right: 1em;
        }
      
        .hero-Text {
           
            margin-top: 4em;
            text-align: center;
            margin-bottom: 3em;
        }
    
          .hero-icon img{
             align-content: center;
           max-width: 60vh;
          }
        
    

         #FirstSec {
            
            display: flex;
    
            flex-direction: column;
        }
    
        .secOne-img {
            flex-direction: column;
            max-width: 100vh;
         
    
        }
    
        .Utah-img {
    
            position: relative;
             padding-top: 3em;
    
            }

            .cloud-img{

                max-height: 60vh;
            }
    
        .secOne-txt {
    
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-align: center;
            display: none;
        }

    
        #SecondSec {
    
            text-align: center;
        }
    
        .secTwo-txt {
        
            text-align: center;
            font-family: Open Sans;
            font-size: 19px;
            font-weight: 300;
            
        }
    
        .secTwo-txt p {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }
    
        .secTwo-img {
            padding-top: 2em;
             display: flex;  
             flex-direction: column;  
            justify-content: center;
            align-items: center;
            
         
        }
       
        .secTwo-video img{

            max-width: 100%;
        }
        
       .secThree-img{

        flex-direction: column;
   
       }

       .Beaches-img{

        padding-top: 10px;
       padding-bottom: 10px;
       }

       .Adventure-img{

        padding-top: 10px;
       }
    
       .secFive-container{

            
            text-align: center;
            position: relative;
            bottom: 100px;
            align-content: center;
            
       }

       .secFive-txt{
          
        font-size: 5px;
        
        font-weight: 30;
          
            text-align: center;
            position: relative;
            bottom: 1px;
            color: #fff;
       }

       .secFive-txt h3 {
    
        font-size: 40px;
        font-weight: bold;
    }

    .secFive-img{

            height: 800px;
    }
    
    .secFive-txt h5 {
    
        font-size: 25px;
        font-weight: 150;
    }
    
    .form {

      
        display: flex; 
         flex-wrap: wrap;   
        margin-left: 100px;
        justify-content: space-around;
        align-items: center;
    
    }
       
}   


@media screen and (max-width: 768px) {
      

   
    
      
    .nav-link{
        display: none;
    }
     
    .menu{
        display: block;
        padding-top: 2em;
        margin-right: 1px;
    }

    #header{

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

   .navIcon{

        padding-bottom: 20px;
   }

    #FifthSec {

        padding-top: 5em;
       
            
    }
  
    
        .secOne-img{

            display: flex; 
        
            flex-wrap: wrap;
            justify-content:flex-start; 
            align-content: center;
           padding-left: em;

               
        }

  .secOne-txt {
     font-family: 'Open Sans', sans-serif;
    font-weight: 130;
     text-align: center;
    max-width: 30vh;
    position: absolute;
    left: 28em;
    line-height: 30px;


    
  } 

 .Utah-img {
     position: relative;
    padding: 0em 1.5em;
    bottom: 0.4em;
}


#SecondSec {

    padding: 50px 5px 10px;
}
  .secTwo-img {
              padding-top: 2em;
               display: flex;
              flex-direction: column;
              justify-content: center;
            align-items: center;
            }

     .mediaGroup{

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3em;
        margin-top: 2em;

     }
    
   .media-2{

    display: flex;
   }
      
    
   .secThree-img{
     
    display: flex;
    flex-wrap: wrap;
        align-items: center;
        padding-top: 3em;
        gap: 2em;
        justify-content: center;
   }

   .sec-3-media{
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 3em;
    padding: 0px 130px;
    
   }
  
        .secFive-container {
    
    
            text-align: center;
            position: relative;
            bottom: 100px;
            align-content: center;
        }
    
        .secFive-txt {
    
            font-size: 5px;
    
            font-weight: 30;
    
            text-align: center;
            position: relative;
            bottom: 1px;
            color: #fff;
        }
    
        .secFive-txt h3 {
    
            font-size: 50px;
            font-weight: 700;
        }
    
        .secFive-img {
    
            height: 800px;
            max-width: 100%;
        }
    
        .secFive-txt h5 {
    
            font-size: 25px;
            font-weight: 150;
        }
    
        .form {
    
            padding-top: 5em;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            justify-content: space-around;
            align-items: center;
            justify-content: baseline;
    
        }

}   
